@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;700&family=Noto+Sans+JP:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --scrollbarBG: rgb(255, 255, 255);
    --thumbBG: rgb(144, 164, 174);
}

body {
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgb(255, 255, 255);
    -webkit-tap-highlight-color: transparent;
}

main {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

main::-webkit-scrollbar {
    width: 1rem;
}

main::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

main::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 9999px;
    border: 0.225rem solid var(--scrollbarBG);
}

a {
    outline: none !important;
}

p {
    @apply leading-8
}

.shadow-right-md {
    box-shadow: 4px 0 6px -1px rgb(0 0 0 / 0.1), 2px 0 4px -2px rgb(0 0 0 / 0.1);
}

.shadow-right-lg {
    box-shadow: 10px 0 15px -3px rgb(0 0 0 / 0.1), 4px 0 6px -4px rgb(0 0 0 / 0.1);
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-stripe-home {
    background-image: linear-gradient(135deg, #ffffff 25%, #fff7ba 25%, #fff7ba 50%, #ffffff 50%, #ffffff 75%, #fff7ba 75%, #fff7ba 100%);
    background-size: 5rem 5rem;
}

.bg-stripe-newbie {
    background-image: linear-gradient(135deg, #e8f7c3 25%, #ffffff 25%, #ffffff 50%, #e8f7c3 50%, #e8f7c3 75%, #ffffff 75%, #ffffff 100%);
    background-size: 2rem 2rem;
}
