@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;700&family=Noto+Sans+JP:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    -webkit-tap-highlight-color: transparent;
    @apply w-[100vw] bg-white overflow-x-hidden;
}

a {
    outline: none !important;
}

p {
    @apply leading-8
}

.perfect-center {
    @apply flex flex-col justify-center items-center
}

.shadow-right-md {
    box-shadow: 4px 0 6px -1px rgb(0 0 0 / 0.1), 2px 0 4px -2px rgb(0 0 0 / 0.1);
}

.shadow-right-lg {
    box-shadow: 10px 0 15px -3px rgb(0 0 0 / 0.1), 4px 0 6px -4px rgb(0 0 0 / 0.1);
}

.text-shadow-base {
    text-shadow: 0px 2px 3px darkgrey
}

.text-shadow-sm {
    text-shadow: 0px 1px 3px darkgrey
}

.text-shadow-md {
    text-shadow: 0px 3px 3px darkgrey
}

.text-shadow-lg {
    text-shadow: 0px 5px 3px darkgrey
}

.text-shadow-xl {
    text-shadow: 0px 7px 3px darkgrey
}

.text-shadow-2xl {
    text-shadow: 0px 10px 3px darkgrey
}

.text-shadow-none {
    text-shadow: none
}

.bg-stripe-home {
    background-image: linear-gradient(135deg, #ffffff 25%, #fff7ba 25%, #fff7ba 50%, #ffffff 50%, #ffffff 75%, #fff7ba 75%, #fff7ba 100%);
    background-size: 5rem 5rem;
}

.bg-stripe-newbie {
    background-image: linear-gradient(135deg, #e8f7c3 25%, #ffffff 25%, #ffffff 50%, #e8f7c3 50%, #e8f7c3 75%, #ffffff 75%, #ffffff 100%);
    background-size: 2rem 2rem;
}

.bg-stripe-not-found {
    background-image: linear-gradient(135deg, #f09078 25%, #ffffff 25%, #ffffff 50%, #f09078 50%, #f09078 75%, #ffffff 75%, #ffffff 100%);
    background-size: 2rem 2rem;
}

.text-not-found {
    text-shadow: 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
}

.fadeIn {
    animation: fadeIn 300ms linear both;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
