@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;700&family=Noto+Sans+JP:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgb(255, 255, 255);
    overscroll-behavior-y: none;
    -webkit-tap-highlight-color: transparent;
}

.shadow-right-md {
    box-shadow: 4px 0 6px -1px rgb(0 0 0 / 0.1), 2px 0 4px -2px rgb(0 0 0 / 0.1);
}

.shadow-right-lg {
    box-shadow: 10px 0 15px -3px rgb(0 0 0 / 0.1), 4px 0 6px -4px rgb(0 0 0 / 0.1);
}
